<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title th:utext="${title}"></title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://raw.githubusercontent.com/nadchif/html-duration-picker.js/master/dist/html-duration-picker.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
		integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.js"></script>
		<link href="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.css" rel="stylesheet"/>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-md bg-dark navbar-dark">
			<div class="container">
				<ul class="navbar-nav text-white">
					<li class="nav-item"><a class="navbar-brand">Movie Express</a>
					</li>
					<li class="nav-item"><a class="nav-link" th:href="@{/index}">Movie List</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="jumbotron text-center">
		<h1 class="display-4">Movie Form</h1>
	</div>
	<div class="container ">
		<div class="text-center" th:if="${message}!=null">
			<h2 class="alert alert-danger" th:text="${message}"></h2>
		</div>
		<div class="col-md-10 offset-md-1 mt-3">
		
			<form action="#" th:action="@{/addMovie}" th:object="${movie}" method="post">
			
				<div class="form-row mt-3">
				
					<div class="col-md-2">
						<label>Movie Name</label>
					</div>
					<div class="col-md-10">
						<input class="form-control" type="text" id="movieName" th:field="*{movieName}"  /> 
						<span th:if="${#fields.hasErrors('movieName')}" th:errors="*{movieName}" class="text-danger"></span>
					</div>
				</div>
				<div class="form-row mt-3">
					<div class="col-md-2">
						<label>Movie Language</label>
					</div>
					<div class="col-md-10">
						<select class="form-control" id="movieLanguage" th:field="*{movieLanguage}" >
							<option value="">Select Language........</option>
							<option th:each="language : ${languageList}" th:text="${language}" th:value="${language}">
						</select> 
						<span th:if="${#fields.hasErrors('movieLanguage')}" th:errors="*{movieLanguage}" class="text-danger"></span>
					</div>
				</div>

				<div class="form-row mt-3">
					<div class="col-md-2">
						<label>Movie Genre</label>
					</div>
					<div class="col-md-10">
						<select class="form-control" id="movieGenre" th:field="*{movieGenre}">
							<option value="">Select Genre........</option>
							<option th:each="genre : ${genreList}" th:text="${genre}" th:value="${genre}">
						</select> 
						<span th:if="${#fields.hasErrors('movieGenre')}" th:errors="*{movieGenre}" class="text-danger"></span>
					</div>
				</div>
				<div class="form-row mt-3">
					<div class="col-md-2">
						<label>Duration</label>
					</div>
					<div class="col-md-10 ">
						<input class="form-control" type="text"  id="duration" th:field="*{duration}" />
							<span th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}" class="text-danger"></span>
					</div>
				</div>
				<div class="text-center mt-3">
					<input class="btn btn-primary" type="submit" value="Submit" />
				</div>

			</form>
		</div>
	</div>
	<footer class="border-top footer text-muted mt-5">
		<div class="container">&copy; 2020 -
			Arshdeep_Jashanjot_COMP303_Lab04</div>
	</footer>
	<script type="text/javascript">
	var timepicker = new TimePicker('duration', {
		  lang: 'en',
		  theme: 'dark'
		});
		timepicker.on('change', function(evt) {  
		  var value = (evt.hour || '00') + ':' + (evt.minute || '00');
		  evt.element.value = value;
		});
	</script>
</body>
</html>